body {
  font-family: "Roboto";
  color: #2e2f42;
  background-color: rgb(255, 255, 255);
  width: 1440px;
  height: 2076px;
}
body > footer {
  background-color: #2e2f42;
}
ul {
  list-style-type: none;
}
address {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  Family: Roboto
}
.knopka {
  cursor:pointer;
  color: var(--iris, #4d5ae5);
  text-align: center;
  /* Button Text */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  
}
a:hover {
  color:red;
}
.name {
  color: var(--navyblue, #2e2f42);
  /* Header 3 */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.text-li {
  color: var(--slate, #434455);
  /* Body */
  font-size: 16px;
  font-style: normal;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
span {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.aaaaa {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
}

footer > a {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
